{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<h2>Hello {{ user_name }},</h2>

<p>We received a request to reset your password. Click the button below to create a new password:</p>

<div style="text-align: center; margin: 30px 0;">
    <a href="{{ reset_link }}" class="button">Reset Password</a>
</div>

<p>Or copy and paste this link into your browser:</p>
<p style="word-break: break-all; color: #666; font-size: 14px;">{{ reset_link }}</p>

<p>This link will expire in 24 hours.</p>

<p>If you didn't request a password reset, please ignore this email. Your password won't be changed.</p>
{% endblock %}